/* CABEÇALHO */
#cabecalho {
    width: 1600px;
    height: 100px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

#logo-cabecalho {
    margin: 1.56rem 0 1.56rem 10rem;
}

.navbar-menu {
    display: flex;
    gap: 2rem;
    margin-right: 10rem;
}

.navbar-link {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1.13rem;
    line-height: 2rem;
    color: #FFFFFF; 
} 

@media (width <= 1200px) {
    #logo-cabecalho {
        margin: 0.8rem 0 0.8rem 1.25rem;
    }

    .navbar-menu {
        gap: 0.75rem;
        margin-right: 1.25rem;
    }
}

@media (width <= 480px) {
    #cabecalho {
        height: 50px;
    }

    #logo-cabecalho {
        width: 3.5rem;
        height: 1.5rem;
    }

    .logo-desktop {
        width: 100%;
    }

    .navbar-menu {
        gap: 0.75rem;
        margin-right: 1.25rem;
    }

    .navbar-link {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 0.625rem;
        line-height: 0.875rem;
        color: #FFFFFF;
    } 
}