.rodape {
    max-width: 1600px;
    width: 100%;
    background-color: #333333;
    font-family: 'Lato';
    font-style: normal;
    margin: 0 auto;
} 

.rodape-container {
    display: flex;
    padding-top: 60px;
    margin: 0 406px 62px 160px;
    
}

.rodape-container-logo-contato {
    display: flex;
    gap: 260px;
    margin-right: 120px;
}

.rodape-contato h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #F7F7F7;
    margin-bottom: 32px;
}

.rodape-contato p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #C4C4C4;
    margin-bottom: 20px;
}

.rodape-contato p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #C4C4C4;
    margin-bottom: 20px;
}

.rodape-contato .linha-horizontal {
    display: inline-block;
    border: none;
    border: 1px solid #4D4D4D;
    width: 360px;
    box-shadow: none;
}

.rodape-contato .rodape-icons {
    margin-top: 20px;
}

.rodape-contato .rodape-icons img {
    margin-right: 32px;
}

.rodape-informacoes h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #F7F7F7;
    margin-bottom: 32px;
}

.rodape-informacoes .rodape-menu {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #C4C4C4;
}

.rodape .rodape-direitos-reservados {
    margin-left: 160px;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #C4C4C4;
}

.rodape .rodape-direitos-reservados {
    margin-left: 160px;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #C4C4C4;
}

@media (max-width: 1200px) {
    .rodape-container {
        align-items: center;
        margin: 0 50px 62px 60px;
    }

    .rodape-container-logo-contato {
        margin-right: 90px;
    }

    .rodape-container-logo-contato {
        flex-wrap: wrap;
        gap: 50px;
    }

    .rodape-informacoes {
        align-items: center;
        justify-content: center;
    }

    .rodape .rodape-direitos-reservados {
        margin-left: 60px;
    }
}

@media (max-width: 480px) {
    .rodape-container {
        align-items: center;
        padding-top: 30px;
        margin: 0 50px 20px 40px;
    }

    .rodape-container-logo-contato {
        gap: 20px;
    }

    .rodape-logo {
        width: 55px;
        height: 24px;
    }

    .rodape-logo img {
        width: 100%;
    }

    .rodape-contato h3 {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 12px;
    }

    .rodape-contato p {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 8px;
    }

    .rodape-contato .linha-horizontal {
        width: 130px;
        margin: 0;
    }

    .rodape-contato .rodape-icons {
        margin-top: 20px;
        gap: 12px;
    }

    .rodape-contato .rodape-icons img {
        width: 16px;
        height: 16px;
    }

    .rodape-contato .rodape-icons img {
        margin-right: 12px;
    }

    .rodape-informacoes {
        margin-right: 60px;
    }

    .rodape-informacoes h3 {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
    }

    .rodape-informacoes .rodape-menu {
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
    }

    .rodape .rodape-direitos-reservados {
        margin-left: 40px;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        padding-bottom: 31px;
    }
}

