.sobre {
    background: #F7F7F7;
}

.container-sobre {
    max-width: 1600px;
    padding-top: 5rem;
    padding-bottom: 3.75rem;
} 

.subtitulo-sobre {
    margin-left: 10rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.25rem;
    color: #333333;
}

.texto-sobre {
    margin: 2rem 10rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #333333;
}

.nossa-equipe {
    margin: 0 5.21rem 3.75rem;
}

.subititulo-nossa-equipe {
    margin-left: 4.69rem;
    margin-bottom: 1.25rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333333;
}

.container-equipe {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.card-equipe {
    background-color: #F2F2F2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    max-width: 450px;
}

.card-equipe::after {
    content: "";
    display: block;
    width: 4px;
    height: 10px;
    background-color: #FF5733;
    border-radius: 1px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.25rem;
    margin-right: 1.56rem;
}

.dados-equipe {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 1.44rem;
    display: flex;
}

.foto-funcionario {
    width: 70px;
    height: 70px;
}

.foto-funcionario img {
    width: 100%;
    object-fit: cover;
}


.info-equipe {
    margin-left: 1.25rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}

.nome-funcionario {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.015em;
    color: #333333;
    margin-bottom: 0.19rem;
}

.cargo-funcionario {
    font-family: 'Lato';
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-bottom: 0.125rem;
}

.descricao-equipe {
    margin: 0 2.5rem 3.94rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2rem;
    color: #666666;
}

.nossa-visao {
    margin: 2rem 10rem;
}

.subititulo-visao {
    margin-bottom: 0.75rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #333333;
}

.texto-visao {
    padding-top: 0.813rem;
    padding-bottom: 0.813rem;
    padding-left: 2.44rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #333333;
    background-color: #F0EEEE;
    border-radius: 5px;
    position: relative;
}

.texto-visao::before {
    content: "";
    display: block;
    width: 4px;
    height: 10px;
    background-color: #FF5733;
    position: absolute;
    margin-top: 0.44rem;
    margin-left: -0.5rem;
}

.nossos-valores {
    margin: 2rem 10rem 0;
}

.subititulo-valores {
    margin-bottom: 0.75rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #333333;
}

.texto-valores {
    padding-top: 0.813rem;
    padding-bottom: 0.813rem;
    padding-left: 2.44rem;
    margin-bottom: 0.75rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #333333;
    background-color: #F0EEEE;
}

.nossos-valores p:last-child {
    margin-bottom: 0;
}

.texto-valores::before {
    content: "";
    display: block;
    width: 4px;
    height: 10px;
    background-color: #FF5733;
    position: absolute;
    margin-top: 0.44rem;
    margin-left: -0.5rem;
}

.texto-valores strong{
    font-weight: 700;
}

@media (max-width: 1000px) {
    .container-equipe {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .subititulo-nossa-equipe {
        margin-left: 0;
    }

    .nossa-equipe {
        margin-left: 160px;
    }
}